
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#Header{
  line-height: 1px;
  display: table;
  margin: 0px auto 0px auto;
  padding:2px;
  font-size:40px;
  width: 100%;
  text-align: center;
  color:white;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#About {
  max-width:1000px;
  display:table;
  margin:auto;
  padding:10px;
  font-size:20px;
  background-size:auto;
  background-image:url(https://media.gettyimages.com/photos/digital-data-of-particle-wave-and-network-connection-picture-id1265116009?s=2048x2048)
  }

#Jordan{
  font-size:40px;
  margin:auto;
}

#Work {
  max-width:1000px;
  display:table;
  margin:auto ;
  padding:10px;
  font-size:20px;
  background-repeat:repeat-y;
  background-image:url(https://media.gettyimages.com/photos/network-data-wave-picture-id1306211540?s=2048x2048)
}

#History{
  font-size:40px;
  margin:auto
}

#School {
  max-width:1000px;
  display:table;
  margin:auto;
  padding:10px;
  font-size:20px;
  background-image:url(https://media.gettyimages.com/photos/digital-data-and-network-communication-picture-id1374403336?s=2048x2048)
}

#Education{
  font-size:40px;
  margin:auto;
}

#Contact {
  max-width:1000px;
  display:table;
  margin:auto;
  padding:10px;
  font-size:40px;
  background-image:url(https://media.gettyimages.com/photos/network-forming-ai-robot-face-picture-id1189020673?s=2048x2048)
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size:40px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  color:black;
}

* {box-sizing: border-box}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size:30px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabschool {
  float: left;
  padding: 0px 12px;
  border: 7px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
  
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

